<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
    <head>
        <title><%= title %></title>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/lib/jquery-minicolors/jquery.minicolors.css">
    </head>
    <body>
        <section ng-view></section>

        <script type="text/javascript">
            window.user = <%- user || 'null' %> ;        
        </script>

        <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="/lib/angular/angular.js"></script>
        <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap.js"></script>
        <script type="text/javascript" src="/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script type="text/javascript" src="/lib/jquery-minicolors/jquery.minicolors.min.js"></script>
        <script type="text/javascript" src="/lib/angular-minicolors/angular-minicolors.js"></script>

        <script type="text/javascript" src="/gifs/gifs.client.module.js"></script>
        <script type="text/javascript" src="/gifs/controllers/gifs.client.controller.js"></script>
        <script type="text/javascript" src="/gifs/services/gifs.client.service.js"></script>
        <script type="text/javascript" src="/gifs/config/gifs.client.routes.js"></script>

        <script type="text/javascript" src="/articles/articles.client.module.js"></script>
        <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script>
        <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
        <script type="text/javascript" src="/articles/config/articles.client.routes.js"></script>

        <script type="text/javascript" src="/example/example.client.module.js"></script>
        <script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
        <script type="text/javascript" src="/example/config/example.client.routes.js"></script>

        <script type="text/javascript" src="/users/users.client.module.js"></script>
        <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

        <script type="text/javascript" src="/app.js"></script>
    </body>
</html>